html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background: url("../assets/art/home.gif") no-repeat center center;
  background-size: cover;
}

#credits-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  z-index: 2;
}

#credits-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.credits-content {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translateY(100%);
}

.credits-content.scroll-up {
  animation: scrollCredits 125s linear forwards;
}

.credits-content h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.credits-content h2 {
  font-size: 1.8em;
  margin-bottom: 0.2em;
  font-weight: normal;
  color: #ccc;
}
.credits-content p {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0;
}

#final-date-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 2s ease-in;
  z-index: 3;
}

#final-date-container.hidden {
  opacity: 0;
  pointer-events: none;
}
#final-date-container h1 {
  font-size: 2.5em;
}

@keyframes scrollCredits {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

@media (max-width: 600px) {
  .credits-content h1 {
    font-size: 1.8em;
  }
  .credits-content h2 {
    font-size: 1.4em;
  }
  .credits-content p {
    font-size: 1.1em;
    padding: 0 10px;
  }
  #final-date-container {
    width: 90%;
  }
  #final-date-container h1 {
    font-size: 1.5em;
  }
}
